<div class="container-fluid foodplan-edit">
    <h2>Kaja-terv szerkesztése</h2>
    <form class="" role="form">
        <div class="small plan-info">
            {{#if authors}}
            <em>Szerkesztő:</em><span>{{authorList}}</span>
            {{/if}}
            {{#if created}}
            <em>Létrehozva:</em><span>{{createdDate}}</span>
            {{/if}}
            {{#if modified}}
            <em>Módosítva:</em><span>{{modifiedDate}}</span>
            {{/if}}
        </div>
        <div class="form-group">
            <label class="control-label" for="plan-title">Terv címe:</label>
            {{input type="text" placeholder="Cím" value=title id="plan-title" class="form-control"}}
        </div>
        <div class="form-group">
            <label class="control-label" for="plan-description">Leírás:</label>
            {{input type="text" placeholder="Leírás" value=description id="plan-description" class="form-control"}}
        </div>
        {{#if days}}
        <h3>Napok</h3>
        <div>
            {{#each day in days}}
            <div class="plan-day">
                <div class="plan-day-header">
                    {{view 'datepicker' placeholder="Dátum" value=day.date class="form-control"}}

                    <div class="plan-day-header-actions">
                        <button class="btn btn-ghost"
                                {{action 'addMeal' day}}>
                            <span class="glyphicon glyphicon-plus"
                                aria-hidden="true">
                            </span>

                        </button>
                        <button class="btn btn-ghost"
                                {{action 'removeDay' day}}>
                            <span class="glyphicon glyphicon-trash"
                                aria-hidden="true">
                            </span>
                        </button>
                    </div>
                </div>
                {{#if day.meals}}
                <div class="plan-day-meal-container panel panel-default">
                    {{#each meal in day.meals}}
                    <div class="plan-day-meal">
                        <div class="meal-header">
                            <div class="meal-header-item">
                                {{view "select"
                                   content=mealTypes
                                   optionValuePath="content.value"
                                   optionLabelPath="content.label"
                                   value=meal.type
                                   prompt="Étkezés tipusa"
                                   class="form-control"}}

                                <div class="meal-header-actions">
                                    <button class="btn btn-ghost" {{action 'removeMeal' day meal}}>
                                        <span class="glyphicon glyphicon-trash"
                                            aria-hidden="true">
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="meal-header-item">
                                {{input type="text" placeholder="Étel név" value=meal.foodName id="" class="form-control meal-name"}}

                                <span class="gutter"></span>
                                <div class="input-group">
                                    {{input type="text" placeholder="porció" value=meal.serving class="form-control meal-portion"}}
                                    <span class="input-group-addon">fo</span>
                                </div>
                            </div>
                        </div>
                        {{#if meal.foods}}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Étel</th>
                                    <th colspan="2">mennyiseg/fő</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each food in meal.foods}}
                                <tr class="food-item">
                                    <td class="food-name" colspan="2">
                                        {{view "chosen"
                                           content=food_list
                                           optionValuePath="content.guid"
                                           optionLabelPath="content.label"
                                           prompt="Valassz"
                                           value=food.food_id
                                           class=""}}
                                    </td>
                                    <td class="quantity">
                                        {{input type="number" placeholder="mennyiseg" value=food.head_quantity id="" class="form-control"}}
                                    </td>
                                </tr>
                                <tr class="food-item">
                                    <td class="">{{food.serving}}</td>
                                    <td class="cost">{{food.price.rsd}}</td>
                                    <td class="cost">{{food.cost}}</td>
                                    <td class="actions">
                                        <button class="btn btn-sm" {{action 'removeFood' meal food}}>Remove</button>
                                    </td>
                                </tr>
                                <!-- <tr class="food-item">
                                    <td class="food-test" colspan="3">
                                    {{!food.food_id}}
                                    </td>
                                </tr> -->
                                {{/each}}
                                <tr class="full-cost">
                                    <td colspan="2">
                                        Teljes ár
                                    </td>
                                    <td colspan="2">
                                        <span class="value">{{meal.sumPrice}}</span> rsd
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {{else}}
                        <button class="btn btn-ghost" {{action 'addFood' meal}}>
                            <span class="glyphicon glyphicon-plus"
                                aria-hidden="true">
                            </span>
                        </button>
                        {{/if}}
                    </div>
                    {{/each}}

                </div>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/if}}
        <div class="form-group plan-actions">
            <button class="btn btn-primary" {{action 'addDay'}}>
                <span class="glyphicon glyphicon-plus"
                      aria-hidden="true">
                </span>
                Adj hozza napot
            </button>
        </div>
    </form>
    <div class="clearfix">
        <button class="btn pull-right" {{action 'cancel'}}>Cancel</button>
        <button class="btn btn-primary pull-right" {{action 'save'}}>Save</button>
    </div>
</div>
