<div>
    {{#if submitted}}
    <div class="message">
        A kérelmed sikeresen el lett küldve. Feldolgozása után kapsz egy emailt a jelszavaddal.
        {{#link-to "index" class="btn btn-primary" role="button" replace=true}}Vissza a kezdőoldalra{{/link-to}}
    </div>
    {{else}}
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label" for="email">E-mail:</label>
            {{input type="text" placeholder="E-mail cím" value=email id="email" class="form-control"}}
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label" for="password">Jelszó:</label>
                {{input type="password" placeholder="" value=password id="password" class="form-control"}}
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label" for="password_check">Jelszó ismét:</label>
                {{input type="password" placeholder="" value=password_check id="password_check" class="form-control"}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="name">Név:</label>
            {{input type="text" placeholder="Név" value=name id="name" class="form-control"}}
        </div>
        <div class="form-group">
            <label class="control-label" for="message">Üzenet:</label>
            {{input type="text" placeholder="" value=message id="message" class="form-control"}}
        </div>
        <div class="form-group row">
            <button class="btn btn-primary" {{action 'subscribe'}} {{bind-attr disabled=formInvalid}}>Elküld</button>
        </div>
    </form>
    {{/if}}
</div>
